---
import { siteConfig } from "../config";
---

<section id="contact" class="p-8 sm:p-12 md:p-16 lg:p-24">
  <div>
    <div class="grid grid-cols-1 lg:grid-cols-12 gap-8 lg:gap-16 items-start">
      <!-- Left Side -->
      <div class="lg:col-span-4">
        <h2 class="text-3xl sm:text-4xl md:text-5xl xl:text-7xl font-bold text-gray-900">
          Contact Me
        </h2>
        <div
          class="w-[75px] h-[5px] mt-2 rounded-full"
          style={`background-color: ${siteConfig.accentColor}`}
        ></div>
      </div>

      <!-- Right Side (Form) -->
      <div class="lg:col-span-8">
        <form
          action="https://formspree.io/f/xvgwwjzd"
          method="POST"
          class="space-y-6 bg-gray-50 p-6 rounded-2xl shadow-md"
        >
          <div>
            <label class="block text-gray-700 font-medium mb-1">Your Name</label>
            <input
              type="text"
              name="name"
              required
              class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-[${siteConfig.accentColor}]"
            />
          </div>

          <div>
            <label class="block text-gray-700 font-medium mb-1">Your Email</label>
            <input
              type="email"
              name="email"
              required
              class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-[${siteConfig.accentColor}]"
            />
          </div>

          <div>
            <label class="block text-gray-700 font-medium mb-1">Your Phone</label>
            <input
              type="text"
              name="phone"
              class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-[${siteConfig.accentColor}]"
            />
          </div>

          <div>
            <label class="block text-gray-700 font-medium mb-1">Your Message</label>
            <textarea
              name="message"
              required
              rows="4"
              class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-[${siteConfig.accentColor}]"
            ></textarea>
          </div>

          <button
            type="submit"
            class="px-2.5 sm:px-3 py-1 sm:py-1.5 bg-gray-900 text-white rounded-md sm:rounded-lg text-xs sm:text-sm font-medium transition-all duration-300 group-hover:bg-gray-800"
          >
            Send Message
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
