---
import { siteConfig } from "../config";
---

<section id="github" class="p-8 sm:p-12 md:p-16 lg:p-24 bg-gray-50">
  <div>
    <div class="grid grid-cols-1 lg:grid-cols-12 gap-8 lg:gap-16 items-start">
      <div class="lg:col-span-4">
        <h2 class="text-3xl sm:text-4xl md:text-4xl xl:text-5xl font-bold text-gray-900">
          GitHub Contributions
        </h2>
        <div
          class="w-[75px] h-[5px] mt-2 rounded-full"
          style={`background-color: ${siteConfig.accentColor}`}
        ></div>
      </div>
      <div class="lg:col-span-8 space-y-10">
        {siteConfig.contributions.map(({ year, image, link }) => (
          <div class="bg-white p-4 sm:p-6 rounded-xl shadow-md hover:shadow-lg transition-all">
            <h3 class="text-2xl sm:text-3xl font-semibold mb-3 text-gray-800">{year}</h3>
            <a href={link} target="_blank"><img
              src={image}
              alt={`GitHub contributions for ${year}`}
              class="rounded-lg w-full border border-gray-200"
              loading="lazy"
            /></a>
          </div>
        ))}
      </div>
    </div>
  </div>
</section>
